[submodule "tmomi"]
	path = tmomi
	url = https://github.com/mamomidev/tmomi.git
	branch = main
[submodule "tmomi_consumer"]
	path = tmomi_consumer
	url = https://github.com/mamomidev/tmomi_consumer.git
	branch = main