[submodule "tmomi-consumer"]
	path = tmomi-consumer
	url = https://github.com/mamomidev/tmomi-consumer.git
	branch = main
[submodule "tmomi-producer"]
	path = tmomi-producer
	url = https://github.com/mamomidev/tmomi-producer.git
	branch = main
[submodule "tmomi-web"]
	path = tmomi-web
	url = https://github.com/mamomidev/tmomi-web.git
